---
permalink: "/{{ page.fileSlug | slugify }}.html"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ content | extractFirstH1Text }}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>

  <style>
    {% include "css/bundle.css" %}
  </style>
</html>
